<section style="background-color: antiquewhite;min-height:80vh">

    <div class="container">
        <div class="row">



            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
                integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

            <div class="col-md-12">
                <div class="row mt-4">
                    {{#each Address}}

                    <div class="col-xl-4 col-lg-4 col-6">
                        <div class="card l-bg-cherry">



                            <div class="card-statistic-3  pl-3 pt-2">

                                <div class="mb-4">
                                    <a href="/deleteadd/{{this.Address.Useraddress}}" class="fa-solid fa-trash-can"
                                        style="color: #000;padding-left:19rem"></a>

                                    <h6 class="card-title mb-0" style="color: rgb(0, 0, 0); font-size:1rem">
                                        <p class="fw-bold"><span class="fw-bold"
                                                style="text-decoration: solid; font-size: larger;">
                                                Name:</span>{{this.address.name}}<span
                                                style="text-decoration: solid; font-size: larger;padding-left: 30px;">
                                                Phone:</span>{{this.address.phone}}</p>

                                   <p class="fw-bold"><span class="fw-bold"
                                                style="text-decoration: solid; font-size: larger;">
                                                H No:</span>{{this.address.houseNumber}}<span
                                                style="text-decoration: solid; font-size: larger;padding-left: 30px;">
                                                Locality:</span>{{this.address.locality}}</p>
                                            <p class="fw-bold "><span
                                                    style="text-decoration: solid; font-size: larger;">
                                                    District:</span>{{this.address.district}}<span
                                                    style="text-decoration: solid; font-size: larger;padding-left: 30px;">
                                                    State:</span>{{this.address.state}}</p>

                                            <span class="card-title mb-0"
                                                style="color: rgb(0, 0, 0);font-size:1rem">{{this.Address.city}}</span>
                                            <h6 class="card-title mb-0" style="color: rgb(0, 0, 0); font-size:1rem ">
                                                Contact:{{this.Address.phoneNumber}}</h6>




                                            <div class="form-check form-switch ">
                                                {{log this.Address.Useraddress}}
                                                {{!--
                                                <div class="col-sm-12">
                                                    <p class="text-muted mb-0">{{profile.email}} <button type="button"
                                                            style="border: 0;" class="fas fa-edit"
                                                            data-bs-toggle="modal" data-bs-target="#myModal2"></button>
                                                    <div class="modal" id="myModal2">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header"
                                                                    style="background-color: #000;">
                                                                    <h5 class="modal-title">Edit Address</h5>
                                                                    <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"></button>
                                                                </div>
                                                                <div class="modal-body">



                                                                    <div class="col-md-12 mb-4">
                                                                        <div class="card mb-4" style="color: #000;">


                                                                            <div class="card-body bg-light">
                                                                                <form
                                                                                    action="/editcurrentAddress/{{this.Address.Useraddress}}"
                                                                                    method="post">
                                                                                    <!-- 2 column grid layout with text inputs for the first and last names -->
                                                                                    <div class="row mb-4">
                                                                                        <div class="col">
                                                                                            <div class="form-outline"
                                                                                                style="color: #000;">
                                                                                                <input type="text"
                                                                                                    id="form7Example1"
                                                                                                    name="name"
                                                                                                    class="form-control"
                                                                                                    value="{{this.Address.name}}"
                                                                                                    required />
                                                                                                <input type="text"
                                                                                                    value="{{user._id}}"
                                                                                                    name="userId"
                                                                                                    class="form-control"
                                                                                                    hidden />
                                                                                                <label
                                                                                                    class="form-label"
                                                                                                    for="form7Example1">Name</label>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col">
                                                                                            <div class="form-outline">
                                                                                                <input type="text"
                                                                                                    id="form7Example2"
                                                                                                    name="phoneNumber"
                                                                                                    class="form-control"
                                                                                                    value="{{this.Address.phoneNumber}}"
                                                                                                    required />
                                                                                                <label
                                                                                                    class="form-label"
                                                                                                    for="form7Example2">Phone
                                                                                                    Number</label>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                                                    <!-- Text input -->
                                                                                    <div class="row mb-4">
                                                                                        <div class="col">
                                                                                            <div
                                                                                                class="form-outline mb-4">
                                                                                                <input type="text"
                                                                                                    id="form7Example3"
                                                                                                    name="state"
                                                                                                    class="form-control"
                                                                                                    value="{{this.Address.state}}"
                                                                                                    required />
                                                                                                <label
                                                                                                    class="form-label"
                                                                                                    for="form7Example3">State</label>
                                                                                            </div>
                                                                                        </div>

                                                                                        <!-- Text input -->
                                                                                        <div class="col">
                                                                                            <div
                                                                                                class="form-outline mb-4">
                                                                                                <input type="text"
                                                                                                    id="form7Example4"
                                                                                                    name="pincode"
                                                                                                    class="form-control"
                                                                                                    value="{{this.Address.pincode}}"
                                                                                                    required />
                                                                                                <label
                                                                                                    class="form-label"
                                                                                                    for="form7Example4">Pincode</label>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                                                    <!-- Email input -->
                                                                                    <div class="row mb-4">
                                                                                        <div class="col">
                                                                                            <div
                                                                                                class="form-outline mb-4">
                                                                                                <input type="text"
                                                                                                    id="form7Example5"
                                                                                                    name="city"
                                                                                                    class="form-control"
                                                                                                    value="{{this.Address.city}}"
                                                                                                    required />
                                                                                                <label
                                                                                                    class="form-label"
                                                                                                    for="form7Example5">City</label>
                                                                                            </div>
                                                                                        </div>
                                                                                        <!-- Number input -->
                                                                                        <div class="col">
                                                                                            <div
                                                                                                class="form-outline mb-4">
                                                                                                <input type="number"
                                                                                                    id="form7Example6"
                                                                                                    name="house"
                                                                                                    class="form-control"
                                                                                                    value="{{this.Address.house}}"
                                                                                                    required />
                                                                                                <label
                                                                                                    class="form-label"
                                                                                                    for="form7Example6">House
                                                                                                    No,Building
                                                                                                    Name</label>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                                                    <!-- Message input -->
                                                                                    <div class="form-outline mb-4">
                                                                                        <input class="form-control"
                                                                                            id="form7Example7"
                                                                                            name="address"
                                                                                            value="{{this.Address.address}}"
                                                                                            rows="4">
                                                                                        <label class="form-label"
                                                                                            for="form7Example7">Address
                                                                                            information</label>
                                                                                    </div>
                                                                                    <button type="submit"
                                                                                        class="btn btn-primary mt-3">Submit</button>

                                                                                    <!-- Checkbox -->
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>



                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    </p>
                                                </div>
                                                --}}






                                                {{!-- <input class="form-check-input" name="checkoutAddress"
                                                    type="radio" id="exampleRadios1"
                                                    value="{{this.Address.Useraddress}}" checked>
                                                <label class="form-check-label" for="{{this.Address.Useraddress}}">
                                                    {{this.Address.home}}
                                                </label> --}}
                                            </div>
                                </div>

                            </div>

                        </div>
                    </div>


                    {{/each}}
                </div>
            </div>

        </div>
    </div>
</section>
<style>
    {
            {
             !--======================popup=================--
        }
    }

    .modal-header {
        background: #F7941E;
        color: #fff;
    }

    .required:after {
        content: "*";
        color: red;
    }

        {
            {
             !--======================popup=================--
        }
    }


    .card {
        background-color: #fff;
        border-radius: 10px;
        border: none;
        position: relative;
        margin-bottom: 30px;
        box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
    }

    .l-bg-cherry {
        background: linear-gradient(to right, #ffffff, rgb(240, 240, 240)) !important;
        color: #fff;
    }

    .l-bg-blue-dark {
        background: linear-gradient(to right, #373b44, #4286f4) !important;
        color: #fff;
    }

    .l-bg-green-dark {
        background: linear-gradient(to right, #0a504a, #38ef7d) !important;
        color: #fff;
    }

    .l-bg-orange-dark {
        background: linear-gradient(to right, #a86008, #ffba56) !important;
        color: #fff;
    }

    .card .card-statistic-3 .card-icon-large .fas,
    .card .card-statistic-3 .card-icon-large .far,
    .card .card-statistic-3 .card-icon-large .fab,
    .card .card-statistic-3 .card-icon-large .fal {
        font-size: 70px;
    }

    .card .card-statistic-3 .card-icon {
        text-align: center;
        line-height: 50px;
        margin-left: 15px;
        color: #000;
        position: absolute;
        right: -5px;
        top: 20px;
        opacity: 0.1;
    }

    .l-bg-cyan {
        background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
        color: #fff;
    }

    .l-bg-green {
        background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
        color: #fff;
    }

    .l-bg-orange {
        background: linear-gradient(to right, #f9900e, #ffba56) !important;
        color: #fff;
    }

    .l-bg-cyan {
        background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
        color: #fff;
    }
</style>